body {
  position: relative;
  width: 100%;
  margin: 0;
  height: 100vh;
  /* background-image: url(https://source.unsplash.com/1920x1080?code); */
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; */
  overflow: hidden;
  color: #66A182;
  background: linear-gradient(-45deg, #FF11F4, #FF1F69, #27A7FF, #01F4FA);
	background-size: 400% 400%;
	animation: gradient 40s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

* {
  font-family: 'Nunito', sans-serif;
}

.page {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  padding: 20px;
  padding-top: 70px;
  box-sizing: border-box;
  overflow-y: auto;
}

.page>* {
  margin: auto;
}

h1,h2,h3,p,a {
  color: rgba(0,0,0,0.8);
}

hr {
  border:0;
  border-top: 1px solid rgba(0,0,0,0.05);
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background: rgba(0,0,0,0.1);
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  margin: 10px;
  text-decoration: none;
}

.button:hover {
  background: #3498db;
  color: white;
}

[disabled]{
  opacity: 0.3;
}

.malt{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.coffee{
  width: 50px;
  display: inline-block;
}

@media screen and (max-width: 575px){
  .github-stats {
    display: none;
  }
}

@media screen and (max-width: 500px){
  .button {
    margin: 5px 10px;
  }
  .or {
    display: inline-block;
    width: 100%;
  }
}